@page "/accounts"
@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.AccountsModule.IAccountsViewModel>

<PageTitle>@vm.HeaderText</PageTitle>
<MudText class="mb-2" Typo="Typo.h6">@vm.HeaderText</MudText>
<MudText class="mb-2" Typo="Typo.subtitle1">@vm.SubHeaderText</MudText>

<div class="d-flex flex-grow-1 gap-4">
    <MudPaper Class="flex-none d-flex py-8 mud-theme-primary" Width="70%" Elevation="0">
        <BankAccountTransactionListComponent></BankAccountTransactionListComponent>
    </MudPaper>
    <MudDivider Vertical="true" FlexItem="true" />
    <MudPaper Class="flex-auto d-flex py-8 mud-theme-tertiary" Width="30%" Elevation="0">
        <BankAccountRightSidebarComponent></BankAccountRightSidebarComponent>
    </MudPaper>
</div>
