/****************************************
    GLOBAL STYLES
*****************************************/
:root {
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
  --font-size-base: 0.875rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;

  --cl-fontSize: 12px;
  --cl-padding-small: 4px;
  --cl-padding: 8px;
  --cl-margin-small: 4px;
  --cl-margin: 8px;
  --cl-backgroundColorLight: #383838;
  --cl-backgroundColor: #252526;
  --cl-backgroundColorDark: #1E1E1E;
  --cl-foreColor: #f2f5f7;
  --cl-boarderColorLight: #DDDDDD;
  --cl-boarderColor: #444444;
  --cl-boarderColorDark: #444444;
}

.e-bigger {
  /* Touchscreen support (https://blazor.syncfusion.com/documentation/appearance/size-modes) */
  font-size: x-large;
}

/****************************************
    BLAZOR ERROR UI
*****************************************/
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
