@inject AdminAssistant.UI.Modules.Accounts.BankAccountRightSidebar.IBankAccountRightSidebarViewModel vm
<h3>BankAccountRightSidebar</h3>

<SfButton @onclick="@this.vm.OnAddAccountButtonClick">Add Account</SfButton>
<button @onclick="@this.vm.OnAddAccountButtonClick">Moo</button>
