@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.Accounts.BankAccountRightSidebar.IBankAccountRightSidebarViewModel>

@using AdminAssistant.Blazor.Client.Modules.Accounts.BankAccountEditDialog

<h3>BankAccountRightSidebar</h3>

<SfButton @onclick="@this.vm.OnAddAccountButtonClick">Add Account</SfButton>
<BankAccountEditDialogComponent></BankAccountEditDialogComponent>
