@page "/admin"
@inherits AdminAssistantModuleComponentBase<AdminAssistant.UI.Modules.AdminModule.IAdminViewModel>

@using AdminAssistant.Blazor.Modules.AccountsModule.Admin
@using AdminAssistant.Blazor.Modules.CoreModule.Admin

<h5>@vm.HeaderText</h5>

<Tabs TabPosition="TabPosition.Start" Pills="true" RenderMode="TabsRenderMode.LazyLoad">
    <Items>
        <Tab Name="Banks">Banks</Tab>
        <Tab Name="Currency">Currencies</Tab>
    </Items>
    <Content>
        <TabPanel Name="Banks">
            <BankListComponent />
        </TabPanel>
        <TabPanel Name="Currency">
            <CurrencyListComponent />
        </TabPanel>
    </Content>
</Tabs>
