@page "/admin"

@using AdminAssistant.Blazor.Modules.AccountsModule.Admin
@using AdminAssistant.Blazor.Modules.CoreModule.Admin

<div class="admin">
  <h3>Admin</h3>
@*  <SfTab CssClass="BlazorTab">
    <TabItems>
      <TabItem>
        <ChildContent>
          <TabHeader Text="Banks" />
        </ChildContent>
        <ContentTemplate>
          <BankListComponent></BankListComponent>
        </ContentTemplate>
      </TabItem>
      <TabItem>
        <ChildContent>
          <TabHeader Text="Currencies" />
        </ChildContent>
        <ContentTemplate>
          <CurrencyListComponent></CurrencyListComponent>
        </ContentTemplate>
      </TabItem>
    </TabItems>
  </SfTab>*@
</div>
