@page "/accounts"
@inject AdminAssistant.UI.Modules.Accounts.IAccountsViewModel vm
  <div class="cl-accounts">
    <div class="cl-moduleBody">
      <div class="cl-moduleHeader">
        <h5>@this.vm.HeaderText</h5>
        <span>@this.vm.SubHeaderText</span>
      </div>
      <div class="cl-accounts-list">
        @*<BankAccountTransactionList></BankAccountTransactionList>*@
      </div>
    </div>
    @*<BankAccountRightSidebar></BankAccountRightSidebar>*@
  </div>
