@page "/accounts"
@inject AdminAssistant.UI.Modules.Accounts.IAccountsViewModel vm

<div class="cl-accounts">
  <div class="cl-moduleBody">
    <div class="e-main-content">
      <div class="cl-moduleHeader">
        <h5>@this.vm.HeaderText</h5>
        <span>@this.vm.SubHeaderText</span>
      </div>
    </div>

    <SfSplitter Width="100%" Height="100%">
      <SplitterPanes>

        <SplitterPane>
          <ContentTemplate>
            @*<BankAccountTransactionList></BankAccountTransactionList>*@
          </ContentTemplate>
        </SplitterPane>

        <SplitterPane>
          <ContentTemplate>
              @*<BankAccountRightSidebar></BankAccountRightSidebar>*@
          </ContentTemplate>
        </SplitterPane>

      </SplitterPanes>
    </SfSplitter>

    @*<BankAccountEditDialog></BankAccountEditDialog>*@
  </div>
</div>
