@page "/accounts"
@inject AdminAssistant.UI.Modules.Accounts.IAccountsViewModel vm

@using AdminAssistant.Blazor.Client.Modules.Accounts.BankAccountTransactionList
@using AdminAssistant.Blazor.Client.Modules.Accounts.BankAccountRightSidebar

<div class="cl-accounts">
  <div class="cl-moduleBody">
    <div class="e-main-content">
      <div class="cl-moduleHeader">
        <h5>@this.vm.HeaderText</h5>
        <span>@this.vm.SubHeaderText</span>
      </div>
    </div>

    <SfSplitter Width="100%" Height="100%">
      <SplitterPanes>

        <SplitterPane>
          <ContentTemplate>
            <BankAccountTransactionListComponent></BankAccountTransactionListComponent>
          </ContentTemplate>
        </SplitterPane>

        <SplitterPane>
          <ContentTemplate>
            <BankAccountRightSidebarComponent></BankAccountRightSidebarComponent>
          </ContentTemplate>
        </SplitterPane>

      </SplitterPanes>
    </SfSplitter>
  </div>
</div>
