@page "/accounts"
@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.AccountsModule.IAccountsViewModel>

<PageTitle>@vm.HeaderText</PageTitle>
<MudText class="mb-2" Typo="Typo.h6">@vm.HeaderText</MudText>
<MudText class="mb-2" Typo="Typo.subtitle1">@vm.SubHeaderText</MudText>

<div class="d-flex flex-grow-1">
    <div Class="flex-grow-1 pr-2">
        <BankAccountTransactionListComponent />
    </div>
    <MudDivider Vertical="true" FlexItem="true" />
    <div Class="flex-none pl-2">
        <BankAccountRightSidebarComponent />
    </div>
</div>
