@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.AccountsModule.IBankAccountRightSidebarViewModel>

<h3>BankAccountRightSidebar</h3>

<SfButton ID="Accounts_AddAccount" @onclick="@(_ => this.vm.AddBankAccount.Execute(null))">Add Account</SfButton>
<BankAccountEditDialogComponent></BankAccountEditDialogComponent>
