@inherits AdminAssistantComponentBase<AdminAssistant.UI.Modules.AccountsModule.IBankAccountRightSidebarViewModel>

<h3>BankAccountRightSidebar</h3>

<MudButton @onclick="@(_ => this.vm.AddBankAccount.Execute(null))" Size="Size.Medium" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info">Add Account</MudButton>

@* <BankAccountEditDialogComponent /> *@
