@import '../../Shared/variables.scss';
@import './bank-account-edit-dialog.scss';

.cl-accounts {
  display: flex;
  flex-direction: row;

  /*.cl-moduleBody {
    display: inherit;
    flex-direction: column;
    flex-grow: 1;

    .cl-moduleHeader {
      display: inherit;
      flex-direction: column;
      padding-left: $cl-padding-small;
      color: $cl-foreColor;
    }

    .cl-accounts-list {
      display: inherit;
      flex-grow: 1;
      padding-top: $cl-padding-small;

      .cl-account-transaction-list {
        width: 100%;
      }
    }


    $contractedWidth: 36px;
    $expandedWidth: 300px;

    .cl-right-sidebar {
      display: inherit;
      padding: $cl-padding;

      .ui-card {

        .ui-card-header {
          background-color: $cl-backgroundColor;

          .cl-sidebar-control {
            width: 100%;
            position: relative;
            height: 22px;

            .ui-button {
              position: absolute;
              top: -1px;
              left: -1px;
              width: 24px;
              height: 22px;
              border-bottom-left-radius: 0;
              background-color: $cl-backgroundColorDark;

              .ui-button-icon-only {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .ui-card-body {
          background-color: $cl-backgroundColor;

          .cl-on-budget-accounts {
            margin-bottom: $cl-margin;
            padding-bottom: $cl-padding;
          }
        }
      }
    }

    .cl-right-sidebar-contracted {

      @extend .cl-right-sidebar;
      min-width: $contractedWidth;
      max-width: $contractedWidth;
    }

    .cl-right-sidebar-expanded {

      @extend .cl-right-sidebar;
      min-width: $expandedWidth;
      max-width: $expandedWidth;
    }


    .cl-account-balance-list {

      .ui-panel {
        background-color: $cl-backgroundColorLight;

        .ui-panel-titlebar {
          margin: $cl-margin;

          .ui-panel-titlebar-icon {
            min-width: 18px;
            text-align: center;
            font-size: 12px;
            padding: 0px;
          }
        }
      }
    }

    .cl-account-edit-dialog {
      display: flex;
      flex-direction: column;

      .cl-row1 {
        display: inherit;
        flex-direction: row;
        align-items: center;
        margin-top: $cl-margin-small;

        .cl-account-name {
          display: inherit;
          flex-grow: 1;
          margin-right: $cl-margin;
        }
      }

      .cl-row2 {
        display: inherit;
        flex-direction: row;
        align-items: center;
        margin-top: $cl-margin;

        .cl-account-type {
          width: 130px;
          margin-left: 7px;
          margin-right: $cl-margin;
        }

        .cl-opened-on {
          width: 85px;
        }
      }

      .cl-row3 {
        display: inherit;
        flex-direction: row;
        align-items: center;
        margin-top: $cl-margin;
        margin-bottom: $cl-margin-small;

        .cl-currency {
          width: 80px;
          margin-left: 31px;
          margin-right: 47px;
        }

        .cl-opening-balance {
          text-align: right;
          width: 91px;
        }
      }
    }
  }*/
}
