@import '../../Shared/variables.scss';

.cl-account-edit-dialog {
  display: flex;
  flex-direction: column;

  .cl-row1 {
    display: inherit;
    flex-direction: row;
    align-items: center;
    margin-top: $cl-margin-small;

    .cl-account-name {
      display: inherit;
      flex-grow: 1;
      margin-right: $cl-margin;
    }
  }

  .cl-row2 {
    display: inherit;
    flex-direction: row;
    align-items: center;
    margin-top: $cl-margin;

    .cl-account-type {
      width: 130px;
      margin-left: 7px;
      margin-right: $cl-margin;
    }

    .cl-opened-on {
      width: 85px;
    }
  }

  .cl-row3 {
    display: inherit;
    flex-direction: row;
    align-items: center;
    margin-top: $cl-margin;
    margin-bottom: $cl-margin-small;

    .cl-currency {
      width: 80px;
      margin-left: 31px;
      margin-right: 47px;
    }

    .cl-opening-balance {
      text-align: right;
      width: 91px;
    }
  }
}
