$cl-fontSize: 12px;

$cl-padding-small: 4px;
$cl-padding: 8px;

$cl-margin-small: 4px;
$cl-margin: 8px;

$cl-backgroundColorLight: #383838;
$cl-backgroundColor: #252526;
$cl-backgroundColorDark: #1E1E1E;

$cl-foreColor: #f2f5f7;

$cl-boarderColorLight: #DDDDDD;
$cl-boarderColor: #444444;
$cl-boarderColorDark: #444444;
