@inject AdminAssistant.UI.Modules.Accounts.BankAccountEditDialog.IBankAccountEditDialogViewModel vm

<h3>BankAccountEditDialog</h3>
@*<DxPopup HeaderText="Header" Visible="this.vm.ShowAccountEditDialog">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet metus vel nisi blandit tincidunt vel efficitur purus.
    Nunc nec turpis tempus, accumsan orci auctor, imperdiet mauris. Fusce id purus magna.
  </p>
</DxPopup>*@
@code {

}
