@page "/"
@page "/dashboard"
<h3>Dashboard</h3>

<div class="container mt-3">
    <h2>Background Color with Contrasting Text Color</h2>
    <p class="text-bg-primary">This text is important.</p>
    <p class="text-bg-success">This text indicates success.</p>
    <p class="text-bg-info">This text represents some information.</p>
    <p class="text-bg-warning">This text represents a warning.</p>
    <p class="text-bg-danger">This text represents danger.</p>
    <p class="text-bg-secondary">Secondary background color.</p>
    <p class="text-bg-dark">Dark grey background color.</p>
    <p class="text-bg-light">Light grey background color.</p>
</div>
